*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    border: solid;
    height: 100vh;
}

.caixa-login{
    margin-top: 200px;
    border: solid red;
    justify-items: center;
    height: 50vh;
}

form{
    gap: 30px;
   border: solid; 
   width: 100%;
   justify-items: center;
}

form>input{



    margin-left: 50%;
    gap:20px;
    width: 300px;
    height: 30px;
    margin: 5px;


}